@import "tailwindcss";
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border;
    
  }
}

 .underline-hover {
    @apply  decoration-transparent hover:underline hover:decoration-black underline-offset-4 transition-all duration-700;
  }

:root {
  --background: #a68445;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-libre-baskerville);
  --font-mono: var(--font-baskerville);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFCF6;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter,  sans-serif;
}
